# frontend
/frontend/node_modules
/frontend/.idea
/nfrontend/node_modules
/nfrontend/vite.config.js

# backend
/backend/.idea
/backend/testing/
/backend/venv/
/backend/Secrets.py

.idea

./var.env
/var.env
